<h2> Por Pais</h2>
<hr>

<div class="row"> 
    <div class="col">
       <app-pais-input
       (onEnter)="buscar($event)"
       (onDebounce)="sugerencias($event)"
       placeholder="Por pais..."
       ></app-pais-input>
    </div>


</div>
<hr>
<div class="alert alert-danger" *ngIf="isError">
    No se encontraron resultados como "{{ termino }}"
</div>

<div *ngIf="paises.length > 0" class="row">
    <div class="col">
        <app-pais-table [paises]="paises"></app-pais-table>
    </div>
</div>